h1 {
    font-style: oblique;
}

.new-task {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.new-task input {
    width: 25%;
    height: 40px;
    font-size: 16px;
    border: none;
    text-align: center;
    background-color: rgb(247, 227, 230);
}

.new-task button {
    width: 40px;
    height: 40px;
    background-color: rgb(247, 227, 230);
    border: none;
    border-radius: 50%;
}

.filter-select {
    width: 100%;
}

.filter-select select {
    width: 25%;
    height: 40px;
    font-size: 16px;
    border: none;
    text-align: center;
    background-color: rgb(247, 227, 230);
}

/* Designing Lists */
.task-div, .title {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%; 
    padding: 20px;
    background-color: rgb(247, 227, 230);
    align-items: center;
    height: 50px;
} 

li.clicked {
    border: 2px solid black; 
}

li:hover {
    cursor: pointer;
}

.task {
    width: 25%; 
}

.date {
    width: 25%; 
}

.check {
    width: 25%;
}
 
ul {
    list-style: none;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    width: 20%;
}

li button {
    background-color: transparent;
    border: none;
    width: 5%;
}

/* Designing checkbox */
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: rgb(201, 219, 224);
    border-color: rgb(201, 219, 224);
}

input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 20px;
}
